/* 	#231f20 */

/* General settings*/
body{
    font-size: 14px;
    letter-spacing: 1px;
    background-color: rgb(255, 255, 255);
    position: relative;
}

@media screen and (min-width: 0px) {
  h2 {
    font-size: 25px;
    padding-bottom: 30px;
    letter-spacing: 0;
  }
}

@media screen and (min-width: 600px) {
  h2 {
    font-size: 30px;
    padding-bottom: 30px;
    letter-spacing: 2px;
  }
}

@media screen and (min-width: 1000px) {
  h2 {
    font-size: 40px;
    padding-bottom: 40px;
    letter-spacing: 4px;
  }
}

@media screen and (min-width: 1001px) {
  h2 {
    font-size: 50px;
    padding-bottom: 50px;
    letter-spacing: 5px;
  }
}

.row h2 {
  margin-bottom: 20px;
}

.row h4 {
  margin-top: 20px;
}

.row p {
  margin-bottom: 50px;
}


.col-md-3 {
  min-height: 220px;
}


/*Navigation*/

#navigation {
    background-color: #fff;
    /*Originally padding was 10px 5px*/
    padding: 0 5px;
    z-index: 101;
    width: 100%;
    box-shadow: 0 0px 2px black;
    font-weight: 600;
    border-bottom: 5px solid #231f20;

  }

  #navigation li {
    padding: 10px 10px;
    display: inline-block;
  }
  
  #navigation li a  {
    color: #231f20;
  }

  #navigation li a:hover {
    color: white;
  }
  
  #navigation li:hover {
    background-color: #231f20;
  }


  .menu-separator{
    display: inline-block;
    align-self: center;
    font-size: 20px;
    margin-left: 5px;
    margin-right: 5px;
  }

  
  .navbar-toggler-icon {
    background: url("/src/main/resources/static/assets/menu-button.png");
    background-size: 100%;
  }
  
  .fixedNav #navigation {
    position: fixed;
    top: 0;
    height: auto;
  }

  /*Logos and icons in navigation*/
  .navbar-images-left {
    width: 32px;
    height: 32px;
    margin-right: 15px ;
  }
  
  #logo1 {
    float: left;
  }
  
  #logo1 img {
    margin: auto;
    height: 33px;
    margin-top: 0px;

  }
  
  #logo2 img {
    height: 30px;
    margin-top: 0px;
    padding-right: 10px;
    padding-left: 10px;
  }
  
  #logo2-mobile {
    display: none;
  }
  
  #logo2-mobile img {
    height: 34px;
  }

.homepageButton {
  border: none;
  background-color: white;
  position: relative;
  display: block;


}

  /*Menu and logos on mobile devices*/
  @media only screen and (max-width: 820px) {
    .navbar-images-left {
      width: calc(100% - 60px);
      height: 30px;
      margin-right: 0px;
    }

    #logo1 img {
      height: 30px !important;
      margin-top: 0px;
    }
    #logo2 img {
      height: 30px !important;
      margin-top: -10px;
    }
    #logo2-mobile img {
      height: 30px !important;
      margin-left: 15px;
      margin-top: 0px;
    }
    #logo2 {
      display: none;
    }
    #logo2-mobile {
      display: block;
    }
    .menu-separator{
      display: none;
    }
  
  }

  @media only screen and (max-width: 1000px) {
    #navigation li a {
      padding-left: 2px;
      padding-right: 2px;
      font-size: 13px;
    }

  }

  .menu-button{
    width: 30px;
  }


  /*Makes white elements way more visible by making
background a bit darker*/
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
  /*Poprzednia wartość opacity to: 0.267*/
  background-color: rgba(0, 0, 0, 0.4);
}



  /*About me section*/
.section {
  padding: 100px 0 100px 0;
}



.copyrightSection{
  color: #fff;
  height: 80px;
  display: flex;
  align-items: center;
  padding-top: 15px;
  background-color: #231f20;
  margin-bottom: -100px;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23002147' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

