<!DOCTYPE html>
<html lang="pl-PL"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!--About project/keywords-->
    <title>Efektywny Rozwój S. A. - oficjalny sklep</title>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>
    <meta name="description" content="Oficjalna strona i sklep internetowy spółki Efektywny Rozwój S.A.">
    <meta name="keywords" content="Efektywny Rozwój, Grzegorz Kobuszewski, Kursy, Szkolenia, Warsztaty, Ebooki">
    <meta name="author" content="Damian Bregier">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Favicon-->
    <link rel="icon" type="image/png" th:href="@{/assets/logo.png}" sizes="196x196" />

    <!--Stylesheets-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/shop.css}">

</head>
<body>
<!--------------------------------------------------------------------------------
          Main navgation
---------------------------------------------------------------------------------->
<nav id="navigation" class="navbar navbar-expand-md">
    <div class="navbar-images-left">
        <div id="logo1">
            <form class="external" th:href="@{/shop}" method="get">
                <button class="homepageButton" type="Submit">
                    <img th:src="@{/assets/logo.png}" />
                </button>
            </form>
        </div>
        <div id="logo2-mobile">
            <form th:action="@{/cart}" method="get">
                <button class="homepageButton" type="Submit">
                    <img th:src="@{/assets/shopping-caer2.png}" />
                </button>
            </form>
        </div>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span><img class="menu-button" th:src="@{/assets/menu-button.png}"/></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#offer">Oferta</a>
            </li>
        </ul>
        <ul class="navbar-nav justify-content-right">
                <span th:switch="${log_user_role}">
                    <li th:case="'USER'" class="nav-item active">
                      <a class="nav-link external" th:href="@{/profile}">Panel użytkownika</a>
                    </li>
                    <li th:case="'ADMIN'" class="nav-item active">
                      <a class="nav-link external" th:href="@{/usersView}">Panel administratora</a>
                    </li>
                </span>
            <li class="nav-item active">
                <a class="nav-link" href="#courses">Moje kursy</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link external" th:href="@{/logout}">Wyloguj</a>
            </li>
        </ul>
    </div>
    <div id="logo2">
        <form th:action="@{/cart}" method="get">
            <button class="homepageButton" type="Submit">
                <img th:src="@{/assets/shopping-caer2.png}" />
            </button>
        </form>
    </div>
    </div>
</nav>
<!---------------------------------------------------------------------
    Smaller slider
------------------------------------------------------------------------>
<div id="slides">
    <div class="overlay"></div>
    <div class="slides-container">
        <img th:src="@{/assets/slide8.jpg}" alt="">
        <img th:src="@{/assets/slide6.jpg}" alt="">
        <img th:src="@{/assets/slide7.jpg}" alt="">
    </div>
</div>


<div class="container my-2">
    <h2>Kursy w koszyku</h2>
    <div class="container">

        <div class="row" th:each="item : ${cartItemList}" th:if="*{item.cart.id==currentId}">
            <!--Need to add up to 12-->

            <div class="col-md-3">
                <img class="aboutImage" th:src="*{item.course.avatar}">
            </div>

            <div class="col-md-7">
                <span class="course-title" th:text="*{item.course.name}"></span>
                <p class="course-description" th:text="*{item.course.description}"></p>
                <span>Cena: </span><span th:text="*{item.course.price}"></span><span> zł</span>
            </div >

            <div class="col-md-2 center">
                <input type="submit" value="Zapłać">
            </div>

        </div>

    </div>




</div>



</div>


<div class="copyrightSection">
    <div class="col-md-12 text-center">
        <p>&copy; Copyright <a href="https://github.com/damianbregier" style="color: white; text-underline-offset: unset;">Damian Bregier</a> 2020</p>

    </div>
</div>




<!-----------------------------------------------------------------------------
JS links
------------------------------------------------------------------------------->

<script th:src="@{/js/jquery.superslides.js}"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
<script th:src="@{/js/shop.js}"></script>

</body>
</html>

