<!DOCTYPE html>
<html lang="pl-PL"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <!--About project/keywords-->
        <title>Efektywny Rozwój S. A. - oficjalny sklep</title>
        <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>
        <meta name="description" content="Oficjalna strona i sklep internetowy spółki Efektywny Rozwój S.A.">
        <meta name="keywords" content="Efektywny Rozwój, Grzegorz Kobuszewski, Kursy, Szkolenia, Warsztaty, Ebooki">
        <meta name="author" content="Damian Bregier">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--Favicon-->

        <!--Stylesheets-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" th:href="@{/css/profile.css}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    </head>

    <body>

            <!--------------------------------------------------------------------------------
                    Main navgation
          ---------------------------------------------------------------------------------->
          <nav id="navigation" class="navbar navbar-expand-md">
            <div class="navbar-images-left"><div id="logo1"><img th:src="@{/assets/logo.png}" /></div>
            <div id="logo2-mobile"><img src="src/main/resources/static/assets/shopping-caer2.png" /></div></div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">

            <span><img class="menu-button" src="src/main/resources/static/assets/menu-button.png"/></span>
          </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link external" th:href="@{/shop}">Oferta</a>
                </li>
              </ul>
              <ul class="navbar-nav justify-content-right">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Panel użytkownika</a>
              </li>
                <li class="nav-item active">
                  <a class="nav-link" href="#courses">Moje kursy</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link external" th:href="@{/logout}">Wyloguj</a>
                </li>   
                </ul>         
                  </div>
                  <div id="logo2">
                      <form th:action="@{/shop}" method="get">
                          <button class="homepageButton" type="Submit">
                              <img th:src="@{/assets/shopping-caer2.png}" />
                          </button>
                      </form>
                  </div>
            </div>
          </nav>

          <div id="about" class="section" data-aos="fade-up">
            <div class="container">
              <div class="row">
                <!--Need to add up to 12-->
                <div class="col-md-5">
                    <img class="aboutImage" th:src="@{/assets/avatar.png}">
                </div>
                <div class="col-md-1 v-divider">

                </div>
                <div class="col-md-6">

                <h2>Dane użytkownika </h2>
                <input type="email" id="email" name="email" placeholder="Twój mail" value="jkowalski@gmail.com">
                <input type="email" id="email2" name="email2" placeholder="Twój mail pomocniczy">
                <input type="text" id="name" name="name" placeholder="Twoje imie" value="Jan">
                <input type="text" id="surname" name="surname" placeholder="Twoje nazwisko" value="Kowalski">
                <input type="text" id="phone" name="phone" placeholder="Numer telefonu" value="545 122 808">
                </div >
              </div> 
              </div>

              <div class="divider">

              </div>

              <div class="container">
                <div class="row">
                </div>
      
                <div class="courses">
      
                    <div class="course-item">
                      <i class="fas fa-cloud-upload-alt fa-2x"></i>
                      <span class="course-title">Chmura obliczeniowa</span>
                      <p class="course-description">Dostępność, wygoda oraz niezawodność.</p>
                      <p class="course-description-hidden">Dowiedz się więcej!</p>
                    </div>
        
                    <div class="course-item">
                      <i class="fas fa-code fa-2x"></i>
                      <span class="course-title">Języki programowania</span>
                      <p class="course-description">Wszystkie najważniejsze języki i technologie.</p>
                      <p class="course-description-hidden">Dowiedz się więcej!</p>
                    </div>

                    <div class="course-item">
                        <i class="fas fa-briefcase fa-2x"></i>
                        <span class="course-title">Analiza matematyczna</span>
                        <p class="course-description">Modele matematyczne i statystyczne</p>
                        <p class="course-description-hidden">Dowiedz się więcej!</p>
                      </div>
          
                      <div class="course-item">
                        <i class="fas fa-database fa-2x"></i>
                        <span class="course-title">Big data</span>
                        <p class="course-description">Zaawansowana analiza danych.</p>
                        <p class="course-description-hidden">Dowiedz się więcej!</p>
                      </div>
          
                      <div class="course-item">
                        <i class="fas fa-bug fa-2x"></i>
                        <span class="course-title">Testowanie oprogramowania</span>
                        <p class="course-description">Testy z wykorzystaniem najnowszych narzędzi.</p>
                        <p class="course-description-hidden">Dowiedz się więcej!</p>
                      </div>

                      
                    
                </div>
              </div>
          </div>


        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script th:src="@{/js/shop.js}"></script>
    </body>