<!DOCTYPE html>
<html lang="pl-PL"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <!--About project/keywords-->
    <title>Efektywny Rozwój S. A. - oficjalny sklep</title>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>
    <meta name="description" content="Oficjalna strona i sklep internetowy spółki Efektywny Rozwój S.A.">
    <meta name="keywords" content="Efektywny Rozwój, Grzegorz Kobuszewski, Kursy, Szkolenia, Warsztaty, Ebooki">
    <meta name="author" content="Damian Bregier">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Favicon-->
    <link rel="icon" type="image/png" th:href="@{/assets/logo.png}" sizes="196x196" />

    <!--Stylesheets-->
    <link rel="stylesheet" th:href="@{/css/sign-in.css}" class="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>

<body class="background">
<div class="border" >
    <div class="main-window">
        <div class="logo-container"><img class="menu-logo" th:src="@{/assets/logo.png}" /></div>

        <ul class="nav nav-tabs">
            <li class="nav-item active">
                <a class="nav-link" data-toggle="tab" href="#login">Logowanie</a>
            </li>
            <li class="nav-item">
                    <form th:action="@{/register}" method="get">
                        <button class="nav-link" type="Submit">Rejestracja</button>
                    </form>
            </li>
        </ul>

        <div class="tab-content">
            <div id="login" class="tab-pane fade in active">
                <form th:action="@{/login}" method="POST">
                    <label>E-mail
                        <input type="email" id="user-login-input" name="user-login-input" placeholder="Podaj e-mail">
                    </label>

                    <label>Hasło
                        <input type="password" id="user-password-input" name="user-password-input" placeholder="Podaj hasło">
                    </label>
                    <div align="center" th:if="${param.error}">
                        <p class="error">E-mail lub hasło są nieprawidłowe, spróbuj jeszcze raz!</p>
                    </div>
                    <input type="submit" value="Zaloguj się">
                </form>
                <form th:action="@{/}" method="get">
                    <input type="submit" th:value="Powrót"> </input>
                </form>
            </div>
            </div>
        </div>
    </div>
</div>

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script th:src="@{/js/script.js}"></script>
</body>